#mainContainer{
  display: flex;
  padding: 1em;
}

#composeContainer{
  background-color: rgba(128, 181, 183, 0.386);
  height: auto;
  padding: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}
#composeContainer span{
  background-color: rgb(79, 131, 132);
  color: white;
  font-weight: 500;
  /* margin-bottom: 0.8em; */
  padding: 0 1em 0 1em;
  font-size: 1.5em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: fit-content;
}
#composeBox{
  padding: 1em;
  border: none;
  border-radius: 1em;
  border-top-left-radius: 0em;
  transition: box-shadow 0.3s;
  overflow-y: visible;
  field-sizing: content;
}
#composeBox:focus{
  border: none;
  background-color: rgb(255, 255, 243);
  outline: none;
  box-shadow: 0 0 0.4em rgba(69, 69, 69, 0.414);
}
textarea:focus, input:focus{
  outline: none;
}